<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link rel="stylesheet" href="assets/style.css">

</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">My profile</div>

                <nav class="nav" id="nav">
                    <a class="nav__link" href="#" >News</a>
                    <a class="nav__link" href="#" >Page2</a>
                    <a class="nav__link" href="#" >Page3</a>
                </nav>

                <a href="#" class="prof">

                </a>
            </div>
        </div>
    </header>

    <div class="profile">

        <div class="ava"></div>
        <div class="user">
        <div class="name">Michael Jordan</div>
        <div class="phone">+7 747 461 3749</div>
        <div class="email">MichaelJordan@mail.ru</div>
        </div>

        <a href="" class="edit">Редактировать профиль</a>
    </div>


</body>
</html>
