<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/reg.css">
    <title>Reg</title>
</head>
<body>
    <div class="title">
        <h>Добро Пожаловать!</h>
        <h><br><br>Регистрация</h>
    </div>
    <div class="inputs">
        <input type="text" name="f_name" placeholder="Введите имя">
        <input type="email" name="email" placeholder="Введите почту">
        <input type="password" name="pass" placeholder="Придумайте пароль">
        <input type="password" name="conf__pass" placeholder="Повторите пароль">
    </div>
    <div  class="reg"><a href="#">зарегистрироваться</a></div>
    <div class="url">Уже есть аккаунт? <a href="/t_task/templates/avt.html">Войти</a>
    </div>
</body>
</html>
